body {font-family: Roboto, sans-serif; color: var(--logo-span);}

h1,h2,h3,h4,p {margin-top:0; margin-bottom:0;}

img {display: block;}

button,a {cursor: pointer;}

li {list-style-type: none;}

a {text-decoration: none;}

ul,ol {margin-top: 0; margin-bottom: 0; padding-left: 0}

:root {
    --logo-span: #000000;
    --buttons-links: #2196F3;
    --title-color: #212121;
    --txt-about: #757575;
    --adress-color: #FFFFFF;
    --buttons-bg: #F5F4FA;
    --background-color: #2F303A;
    --link-active: red;}

.container {
    width: 1200px; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;}

.page-header-container {
    display: flex;
    align-items: center}

.navigation {
    display: flex;
    align-items: center}

.site-nav {
    display: flex;
    align-items: center;
    column-gap: 50px}

.auth-nav {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 344px;}

.logo {
font-family: Raleway, sans-serif;
color:var(--logo-span);
font-weight: 700;
font-size: 26px;
line-height: 1.2;

margin-right: 93px;}

.logo span {color:var(--buttons-links) }

.site-nav a:hover, 
.site-nav a:focus {color: var(--buttons-links)}
.site-nav a:active {color: var(--link-active)}

.site-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color:#212121
    }
.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--buttons-links)}

.auth-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--txt-about);}

.title-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    }

.main-title {
    background: #000;
    padding-bottom: 200px;
    padding-top: 200px;
    }


.main-title button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--adress-color);}

.main-title h1 {
     font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--adress-color);}

.order-button {background-color: var(--buttons-links)}

.about-list {
    display: flex;
    column-gap: 30px;
    margin-top: 94px;
    margin-bottom: 94px;
}

.about-us-title {
    display: flex;
    flex-direction: column;
    gap: 10px;}

.about-us h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--title-color);  
}

.about-us p { 
    font-size: 14px;
    line-height: 1.8;
    color: var(--txt-about);
}

.what-we-do {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:50px;
    margin-bottom: 94px;}

.examples-list {
    display: flex;
    column-gap: 30px;}

.examples h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color:var(--title-color);
}

.our-team-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
    gap: 50px;}

.team-list {
    display: flex;
    gap: 30px;
    margin-bottom: 94px;}

.our-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-color);
}

.our-team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-color);
}

.our-team p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--txt-about);
}

.footer {background: #000;}

.logo-footer {
    font-family: Raleway, sans-serif;
    color: var(--adress-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;}
    
.logo-footer span {color:var(--buttons-links) ;}

.adress-list a {
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    color: var(--adress-color);
}

.adress-list a:hover,
.adress-list a:focus {color: var(--buttons-links);}

.mail-tell {
    font-size: 14px;
    line-height: 1.8;
    color: var(--adress-color);
    opacity: 60%;
}

.main-title,
.footer {background-color: var(--background-color);}

.button-list button:hover,
.button-list button:focus {
    background-color: var(--buttons-links);
    color: var(--adress-color) 
}

.button-list button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-color);
}

.our-projects h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-color);
}

.our-projects p {
    font-size: 16px;
    line-height: 1.9;
    color: var(--txt-about);
}